/* ############################## */
/* ########## section1 ########## */
/* ############################## */

.sec1 {
  position: relative;
  background-color: #e5d7c7;
  text-align: center;
  font-size: 3em;
  overflow: hidden;
}

.move_figure1 {
  position: absolute;
  top: 0;
  left: 0;
  fill: rgb(241, 123, 87);
  width: 30vmax;
  z-index: 0;
  animation: move1 8s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move1 {
  0% {
    transform: scale(1) translate(-50px, -50px);
  }
  38% {
    transform: scale(0.8, 1) translate(100vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(100vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(-50px, -50px);
  }
}

.move_figure2 {
  position: absolute;
  top: 0;
  right: 0;
  fill: #ffbe5c;
  width: 30vmax;
  z-index: 0;
  animation: move2 8s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move2 {
  0% {
    transform: scale(1) translate(-50px, -50px);
  }
  38% {
    transform: scale(0.8, 1) translate(-100vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(-100vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(-50px, -50px);
  }
}

.bg_figure {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-color: #e4e4e4;
  border-radius: 50%;
  overflow: hidden;
}

.dog_img {
  position: absolute;
  left: 50%;
  bottom: -230px;
  transform: translate(-50%, 0);
  width: 700px;
  overflow: hidden;
}

.head_title {
  position: absolute;
  left: 0;
  top: 200px;
  font-size: 160px;
  font-family: 'Shrikhand', cursive;
  font-weight: 900;
  letter-spacing: 10px;
  word-spacing: 260px;
  width: inherit;
  margin-left: 20px;
  color: #ddd4cb;
  text-shadow: 7px 5px 0 #4760af, -2px 0 0 #4760af, 0 2px 0 #4760af,
    0 -2px 0 #4760af, 1px 1px #4760af, -1px -1px 0 #4760af, 1px -1px 0 #4760af,
    -1px 1px 0 #4760af;
}

.head_text {
  position: absolute;
  right: 40px;
  top: 550px;
  width: 400px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: rgb(255, 255, 255);
  visibility: hidden;
}

.scroll {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #4760af;
  border-radius: 50px;
  box-sizing: border-box;
}

.scroll::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #4760af;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* ############################## */
/* ########## section2 ########## */
/* ############################## */
.sec2 {
  padding: 0 50px;
}

.category_filter {
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

.category_filter h2 {
  color: #4760af;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.cat_name {
  text-align: center;
  width: 110px;
  padding-top: 70px;
  padding-bottom: 15px;
  display: inline-block;
  font-weight: 400;
  font-size: 17px;
  background-color: #faeee1;
  border-radius: 30px;
  margin-right: 20px;
  color: rgb(61, 61, 61);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center 15px;
  transform: translateY(0);
  transition: transform 0.35s;
}

.cat_name.pet_food {
  background-image: url('../images/pet-food.svg');
}

.cat_name.bone {
  background-image: url('../images/bone.svg');
}

.cat_name.pills {
  background-image: url('../images/pills.svg');
}

.cat_name.clothes {
	background-image : url("../images/clothes.png");
}

.cat_name.toy {
	background-image : url("../images/toy.jpg");
}

.cat_name:hover {
  background-color: #ffbe5c;
  color: rgb(255, 255, 255);
  font-weight: 400;
  transform: translateY(-20px);
  transition: transform 0.35s ease-in-out;
}

.category_content {
  position: relative;
  margin-top: 20px;
  display: inline-block;
}

.category_area {
  border-collapse: collapse;
}

.cat_list {
  width: 250px;
  height: 370px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.cat_list:last-child {
  margin-right: 0;
}
.cat_list:hover .cat_img {
  transform: translateY(-20px);
  transition: transform 0.35s ease-in-out;
}

.cat_list > * {
  display: table-row;
}

.cat_img {
  width: 200px;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 0.35s;
}

.cat_img img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.cat_title,
.cat_weight,
.cat_price {
  display: block;
}

.cat_title {
  color: rgb(65, 65, 65);
  font-size: 16px;
  padding: 20px 13px 7px 13px;
}

.cat_weight {
  color: rgb(139, 139, 139);
}

.cat_price {
  display: inline-block;
  padding: 10px 0;
  font-size: 19px;
  font-weight: 500;
  color: rgb(82, 82, 82);
}
